/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2016, 1:48:54 PM
    Author     : sucheta
*/

#adjust-height {
    background-color: #FF7F50;
    height: 50px;
    padding-right: 18px;
}

#adjust-text{
    padding: 10px;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
}

.jumbotron {

    background-image: url(../img/wood.jpg); 
    color: white;
    padding: 100px 25px;


    font-family: Montserrat, sans-serif;
    height: 5px;
}

.company-title {

    background-image: url(../img/wood3.jpg); 
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    height: 120px;
}

.menu {
    padding-right: 18px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}