/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2016, 2:12:53 PM
    Author     : sucheta
*/
@media (min-width: 700px) {
    .container {
        width: 1100px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
        height: 800px;
    }
}

.form-container{
    width: 540px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    height: 450px;
}

.width{
    width: 100px;

}
.error{

    color: red;
    margin-top: 20px;
}

