/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 6:47:54 PM
    Author     : sucheta
*/
@media (min-width: 700px) {
    .container {
        width: 1100px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    }
}

.carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  #testimonial{
      background-color: #F5F5F5;
  
  }

  #para {
	
	padding: 25px;
    margin: 25px;
	-webkit-column-count: 2;
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px; /* Firefox */
	column-gap: 40px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-align: justify;
	text-decoration: none;
	letter-spacing: 2px;
	line-height: 1.5;
	word-spacing: 5px;
}

#firstletter {
	
    font-size: 250%;
	color: red;
}