/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2016, 4:21:18 PM
    Author     : sucheta
*/

@media (min-width: 700px) {
    .container {
        width: 1100px;
        
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    }
}

.width{
    width: 100px;

}

.table{
	width : 60%;
	
}

#email{
	color : green;
}

